In [1]:
import pandas as pd

Given the following confusion matrix, evaluate (by hand) the model's performance.

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

    In the context of this problem, what is a false positive?
    In the context of this problem, what is a false negative?
    How would you describe this model?

In [2]:
# dog is positive prediction

#      dog   cat

# dog  TP    FP
    
# cat  FN   TN



#     dog   cat

# dog 46    13

# cat  7     34

accuracy = (All_True/All) accucacy great

precision = TP/All_P  want to catch all the positives

recall = TP/(TP+FN) minimize FN

In [3]:
accuracy = ((46+34)/(46+7+13+34))
accuracy

0.8

In [4]:
precision = (46/(46+13))
precision

0.7796610169491526

In [5]:
recall = 46/(46+7)
recall

0.8679245283018868

FP -predict a dog but it's actually a cat

FN -predict a cat but it's actually a dog

# #3 

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

    An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
    
   
   want to get all the defects, make sure to get all the positives
  ## maximize recall
    
    Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? precision or recall. Which model would be the best fit for this use case?
    
    
   want to minimize FN to minimze extra vacation packages. 
    
   ## maximize precision

In [6]:
c3 = pd.read_csv("c3.csv")

In [7]:
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

accuracy = (All_True/All) accucacy great

precision = TP/All_P  want to catch all the positives

recall = TP/(TP+FN) minimize FN

In [8]:
subset = c3[c3.actual == 'Defect']
subset

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [9]:
model_recall = (subset.actual == subset.model1).mean()
model_recall

0.5

In [10]:
model_recall = (subset.actual == subset.model2).mean()
model_recall

0.5625

In [11]:
model_recall = (subset.actual == subset.model3).mean()
model_recall

0.8125

## m3 maximizes recall

In [12]:
# Exercise 3.b

In [13]:
subset = c3[c3.model1 == 'Defect']

In [14]:
model_precision = (subset.actual == subset.model1).mean()
model_precision

0.8

In [15]:
subset = c3[c3.model2 == 'Defect']

In [16]:
model_precision = (subset.actual == subset.model2).mean()
model_precision

0.1

In [17]:
subset = c3[c3.model3 == 'Defect']

In [18]:
model_precision = (subset.actual == subset.model3).mean()
model_precision

0.13131313131313133

## Model 1 maximizes precision



You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

    In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
    Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
    Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?


ANWERS ARE AROUND LINE 48

In [19]:
pics = pd.read_csv("gives_you_paws.csv")

In [20]:
pics.sample(3)

     actual model1 model2 model3 model4
4723    dog    cat    cat    cat    dog
1270    dog    dog    cat    dog    dog
466     cat    dog    cat    cat    dog

In [21]:
pics.groupby('actual').count()

        model1  model2  model3  model4
actual
cat       1746    1746    1746    1746
dog       3254    3254    3254    3254

In [22]:
pics['baseline'] = 'dog'

In [23]:
pics.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [24]:
pics.shape

(5000, 6)

In [25]:
models = pics.columns

In [26]:
# get accuracy in dictionary form for each model
output = {}
for model in models:
    accuracy = (pics.actual == pics[model]).mean()
    output.update({model:accuracy})
    
output

{'actual': 1.0,
 'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'baseline': 0.6508}

In [27]:
subset = pics[pics.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [28]:
(subset.actual == subset.model1).mean()

0.803318992009834

In [29]:
(subset.actual == subset.model2).mean()

0.49078057775046097

In [30]:
(subset.actual == subset.model3).mean()

0.5086047940995697

In [31]:
(subset.actual == subset.model4).mean()

0.9557467732022127

## model 4 is best recall

In [32]:
pd.crosstab(pics.model4, pics.actual)

actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [33]:
# Precision calcs

In [34]:
subset1 = pics[pics.model1 == 'dog']
subset2 = pics[pics.model2 == 'dog']
subset3 = pics[pics.model3 == 'dog']
subset4 = pics[pics.model4 == 'dog']

In [35]:
(subset1.actual == subset1.model1).mean()

0.8900238338440586

In [36]:
(subset2.actual == subset2.model2).mean()

0.8931767337807607

In [37]:
(subset3.actual == subset3.model3).mean()

0.6598883572567783

In [38]:
(subset4.actual == subset4.model4).mean()

0.7312485304490948

In [39]:
# model 2 has best precision

automated algorithm (Phase I). 
another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:


    In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
 
   all models are better than the baseline
 
    Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
    
   maximize recall (model 4) then precision (m2)
    
    
    Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?
    
   phase 1 max recall .89 model 2
    phase 2 max precision model 4

accuracy = (TP + TN)/(TP + TN + FN + FP)
precision = TP/(TP + FP)
recall = TP/(TP +FN)
#npv = TN/(TN +FN)


#      dog   cat

# dog  TP    FP (type I)
    
# cat  FN (type II)   TN

In [40]:
#adjusted below to match class review

In [41]:
from sklearn.metrics import classification_report

In [42]:
classification_report(pics.actual, pics.model1)

'              precision    recall  f1-score   support\n\n         cat       0.69      0.82      0.75      1746\n         dog       0.89      0.80      0.84      3254\n\n    accuracy                           0.81      5000\n   macro avg       0.79      0.81      0.80      5000\nweighted avg       0.82      0.81      0.81      5000\n'

In [43]:
x = classification_report(pics.actual, pics.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [44]:
classification_report(c3.actual, c3.model2)

'              precision    recall  f1-score   support\n\n      Defect       0.10      0.56      0.17        16\n   No Defect       0.94      0.56      0.70       184\n\n    accuracy                           0.56       200\n   macro avg       0.52      0.56      0.44       200\nweighted avg       0.87      0.56      0.66       200\n'

In [45]:
x = classification_report(pics.actual, pics.model2,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [46]:
classification_report(c3.actual, c3.model3)

'              precision    recall  f1-score   support\n\n      Defect       0.13      0.81      0.23        16\n   No Defect       0.97      0.53      0.69       184\n\n    accuracy                           0.56       200\n   macro avg       0.55      0.67      0.46       200\nweighted avg       0.90      0.56      0.65       200\n'

In [47]:
x = classification_report(pics.actual, pics.model3,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [48]:
classification_report(pics.actual, pics.model4)

'              precision    recall  f1-score   support\n\n         cat       0.81      0.35      0.48      1746\n         dog       0.73      0.96      0.83      3254\n\n    accuracy                           0.74      5000\n   macro avg       0.77      0.65      0.66      5000\nweighted avg       0.76      0.74      0.71      5000\n'

In [49]:
x = classification_report(pics.actual, pics.model4,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

### phase 1 max recall .89 model 2
### phase 2 max precision model 4

## #5

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

    sklearn.metrics.accuracy_score
    sklearn.metrics.precision_score
    sklearn.metrics.recall_score
    sklearn.metrics.classification_report

In [52]:
from sklearn.metrics import classification_report, recall_score, precision_score, accuracy_score

In [ ]:
sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report

In [56]:
accuracy_score(pics.model1, pics.baseline)

0.5874

In [61]:
precision_score(pics.model1, pics.baseline, pos_label= 'cat')

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.0

In [62]:
recall_score(pics.model3, pics.baseline, pos_label= 'dog')

1.0

In [60]:
classification_report(pics.model4, pics.baseline)

/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/homebrew/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n         cat       0.00      0.00      0.00       747\n         dog       0.85      1.00      0.92      4253\n\n    accuracy                           0.85      5000\n   macro avg       0.43      0.50      0.46      5000\nweighted avg       0.72      0.85      0.78      5000\n'